/*  Poppins font imported from Google Fonts.    
    GT Walsheim font does not exist on this service */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

:root {
    --color-primary: hsl(236, 74%, 41%);
    --color-primary-light-1: hsla(234, 71%, 45%, 0.788);
    --color-primary-light-2: hsla(234, 71%, 45%, 0.5);
    --color-primary-dark-1: hsla(234, 88%, 16%, 0.808);
    --color-primary-dark-2: hsla(234, 88%, 16%, 0.555);
    --color-primary-opacity: hsla(236, 74%, 41%, 0.658);

    --color-secondary: hsl(358, 100%, 75%);
    --color-secondary-light-1: hsla(0, 100%, 78%, 0.753);
    --color-secondary-light-2: hsla(0, 100%, 82%, 0.466);

    --grey: #232323;
    --grey-light-1: #4C4C4D;
    --grey-light-2: #C8C8C8;

    --light: #ffffff;

    --size-heading-xl: 48px;
    --size-subtitle-xl: 32px;
    --size-text-xl: 18px;

    --size-heading-lg: 38px;
    --size-subtitle-lg: 22px;
    --size-text-lg: 14px;

    --size-heading-md: 30px;
    /* --size-subtitle-md: 22px; */
    /* --size-text-md: 14px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    position: relative;
}

/* ********************************* */
/* HEADER & NAVBAR */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 100;
}
header nav {
    width: 90%;
    margin: auto;
    background-color: none;
}
header nav .navbar-nav {
    margin-left: auto;
}

header nav .nav-link {
    color: var(--light) !important;
    transition: color .25s !important;
}
header nav .nav-link:hover {
    color: var(--color-secondary) !important;
}
header nav .nav-link.active {
    color: var(--color-secondary) !important;
    font-weight: bold;
}
header nav .navbar-toggler {
    border: none !important;
    background-color: var(--light) !important
}
header nav .navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem var(--light) !important;
}
.headerOnScroll {
    background-color: var(--color-primary-dark-1);
}

/* ********************************* */
/* MAIN */

main {
    min-height: 100dvh;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    align-items: center;
    position: relative;

    z-index: 50;
}

#HeroColorLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -50;
    background-color: var(--color-primary-opacity);
}

.Hero_Title, .Hero_Subtitle {
    color: var(--light);
}
.Hero_Title {
    font-size: var(--size-heading-xl);
    font-weight: 600;
}
.Hero_Subtitle {
    font-size: var(--size-subtitle-xl);
    font-weight: 400;
}

/* ********************************* */
/* QUIENES SOMOS */

#QuienesSomos .QuienesSomos_Headings, #QuienesSomos .QuienesSomos_Description {
    height: calc(50dvh + 86px);
}

#QuienesSomos .QuienesSomos_Headings {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    padding-left: 30px; 
    padding-right: 30px; 
    background-color: var(--color-primary);
    color: var(--light);
    font-size: var(--size-heading-xl);
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-secondary);
}

#QuienesSomos .QuienesSomos_Headings > :nth-child(2) {
    align-self: center;
}

#QuienesSomos .QuienesSomos_Headings > :last-child {
    position: relative;
    align-self: end;
}

#QuienesSomos .QuienesSomos_Headings > :last-child::after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 80px;
    height: 7px;
    width: 200px;
    border-radius: 500px;
    background-color: var(--color-secondary);
}

#QuienesSomos .QuienesSomos_Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--size-text-xl);
}


/* ********************************* */
/* QUOTE 1 */

#Quote1 > .container-fluid {
    min-height: calc(50dvh + 86px);
    padding-top: 73px;
    background-image: url("../images/ciudad.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Quote1 p {
    font-size: 28px;
    color: var(--color-primary);
}

/* **************************************************************** */
/*  HANDLE RESPONSIVE SIZES */
/* **************************************************************** */

@media screen and (max-width: 775px) {
    #Hero_Subtitle_Breakline {
        display: none;
    }
}

/* < XL */
@media screen and (max-width: 1200px) {
    #QuienesSomos .QuienesSomos_Headings {
        font-size: var(--size-heading-lg);
    }
    #QuienesSomos .QuienesSomos_Description {
        font-size: var(--size-text-lg);
    }
}

/* < LG */
@media screen and (max-width: 992px) {
    header {
        background-color: var(--color-primary-dark-1);
    }
    header nav {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #QuienesSomos .QuienesSomos_Headings > p {
        align-self: center !important;
    }
    #QuienesSomos .QuienesSomos_Headings > :last-child::after {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* < MD */
@media screen and (min-width: 576px) and (max-width: 768px) {
    #QuienesSomos .QuienesSomos_Headings > p {
        font-size: var(--size-heading-xl);
        align-self: center !important;
    }
    #QuienesSomos .QuienesSomos_Headings > :last-child::after {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
    #QuienesSomos .QuienesSomos_Description {
        font-size: var(--size-text-lg);
    }
}
@media screen and (max-width: 768px) {
    #Quote1 p br:nth-child(2) {
        display: inline-block;
    }
    #Quote1 p br:nth-child(3) {
        display: none;
    }
}

/* < SM */
@media screen and (max-width: 576px) {
    #QuienesSomos .QuienesSomos_Headings > p {
        font-size: var(--size-heading-md);
        align-self: center !important;
    }
    #QuienesSomos .QuienesSomos_Headings > :last-child::after {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
    #Quote1 > .container-fluid {
        padding-top: 30px;
    }
}

/* **************************************************************** */
/*  En reemplazo a: scroll-margin-top: 90px !important;
    Pareciera presentar problemas de compatibilidad con Bootstrap. */

#QuienesSomos::before,
#QueEs::before,
#Pasos::before,
#Beneficios::before,
#Testimonios::before,
#Sumate::before {
    content: "";
    display: block;
    height: 86px;
    margin: -86px 0 0;
}

.border-dark { border: 1px solid black; }

/* ======================== */
/* REUSABILITY CLASSES */
/* ======================== */

.HorizontalBar {
    width: 154px;
    height: 7px;
    border-radius: 500px;
    background-color: var(--color-secondary);
}

.TextStrong {
    font-weight: 600;
}

/* ======================== */
/* CUSTOM BOOTSTRAP CLASSES */
/* ======================== */

.btn {
    width: 193px;
    height: 48px;
    border: 3px solid var(--color-secondary);
    border-radius: 500px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}

.btn:hover {
    border: 3px solid transparent;
    background-color: var(--color-secondary-light-1);
    color: var(--light);
}

.btn:is(:active, :focus-visible)  {
    border: 4px solid var(--color-secondary);
    background-color: transparent ;
    font-weight: 600 ;
    color: var(--color-secondary) !important;
}